@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<a asp-area="Users" asp-controller="Product" asp-action="AddNew">Add product</a>

<div>
    @foreach (var product in Model.Products)
	{
		<div class="product-card">
			<h2>@product.Name</h2>
			<p>@product.Price</p>
		</div>
	}
</div>